@import "reset.css";
.none {
  display: none;
}
header {
  width: 100%;
  min-height: 45px;
  display: flex;
  padding: 10px;
  justify-content: flex-end;
  align-items: center;
  background-color: blue;
  color: #fff;
}
body {
  overflow: hidden;
}
main {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  min-height: calc(100vh - 45px);
}
section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 16px;
  position: relative;
}
section:first-of-type {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

#weather span {
  padding: 0 5px;
}

#clock {
  padding: 10px 20px;
  font-family: "Kenia", cursive;
  text-align: center;
}
.quotes {
  position: absolute;
  padding: 10px 20px;
  margin-left: auto;
  font-family: "Roboto Mono", monospace;
  font-size: 12rem;
  font-weight: 600;
  letter-spacing: -48.2px;
  word-break: break-all;
}
#clock span {
  width: 100%;
  display: block;
  font-size: 7rem;
  align-items: center;
}
.todo .write_todo,
form.login {
  padding: 3px;
  display: flex;
  gap: 3px;
}
button {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  border-style: none;
  border-radius: 0;
  background-color: #000;
  color: #fff;
  text-align: left;
  white-space: nowrap;
  word-break: keep-all;
  cursor: pointer;
}
input {
  width: 100%;
  border-radius: 0;
  border-style: none;
  border: 1px solid #000;
}
input:focus-within {
  outline: none;
  background-color: yellow;
}
#todo {
  position: relative;
}
ul.todo_list::before {
  content: "my todo list";
  font-weight: 700;
}
ul.todo_list {
  padding: 10px;
  background-color: red;
  position: absolute;
  width: unset;
  left: -150%;
}
ul.todo_list li {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding: 3px;
  gap: 5px;
  width: 100%;
}

canvas {
  margin-top: 10px;
  width: 300px;
  height: 300px;
  border: 2px solid #000;
}
input#font-size {
  accent-color: blue;
}
input#width {
  accent-color: black;
}
.text_option > div {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.text_option > div .font-style_option {
  display: flex;
  gap: 4px;
}
.text_option input#input-txt {
  height: 32px;
}
.text_option label input {
  display: none;
}
.text_option label span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  border-style: none;
  border-radius: 0;
  background-color: #000;
  color: #fff;
  text-align: left;
  white-space: nowrap;
  word-break: keep-all;
  cursor: pointer;
  padding: 4px 8px;
}
.text_option label input[type="radio"]:checked + span {
  background-color: blue;
}
.size_option {
  width: 100%;
  padding: 0 16px;
}
.palette {
  position: absolute;
  left: -30px;
}
.palette label {
  margin-bottom: 5px;
}
.palette label div {
  display: inline-flex;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 5px solid blue;
}
.palette input {
  display: none;
}
.palette .two_col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.color-option {
  display: inline-flex;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.color-option:hover {
  transform: scale(1.2);
  transition: all 0.3s linear;
}
.button_wrap {
  padding: 4px 16px 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.button_wrap label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  border-style: none;
  border-radius: 0;
  background-color: #000;
  color: #fff;
  text-align: left;
  white-space: nowrap;
  word-break: keep-all;
  cursor: pointer;
  padding: 4px 8px;
}
.button_wrap label input {
  display: none;
}
